body {
  background-color: rgba(255, 252, 230, 1);
  padding-bottom: 0;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: "Wittgenstein", serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-size: 45px;
  color: #596758;
  position: sticky;
  top: 0;
  display: flex; /* Use flexbox to align items */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  margin-right: 500px;
  margin-top: 15px;
}


.section1 {
  width: 350px;
  height: 900px;
  margin: auto;
  margin-top: 20px;
  background: rgba(225, 221, 189, 0.3);
  display: flex; /* Add flexbox for layout */
  flex-direction: column; /* Arrange items vertically */
  align-items: center;
  
}

.logo-section1 {
  width: 200px;
  height: 200px;
  background: none;
  border: none;
  margin-right: 200px;
  margin-top: 350px;
  margin-bottom: 0px;
}
.h1bar {
  width: auto;
  height: 100px;
  background: white;
  padding-top: 10px;
  position: sticky;
  top: 0;
  z-index: 5;
  font-family: "Wittgenstein", serif;
  font-optical-sizing: auto;
  font-style: normal;
  
}

.logo {
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  display: inline-block; /* Use inline-block to ensure image behaves as a box */
  margin-left: 350px;
  margin-right: 20px;
  margin-top: 10px;
}

#section2 {
  height: 1000px;
  background-color: rgba(255, 252, 230, 1);
}

h2 {
  font-family: "Wittgenstein", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: #596758;
  margin: 0; /* Remove default margins */
  padding: 0;
}

.navbaritem {
  width: auto;
  height: 30px;
  background: #596758;
  padding-top: 10px;
  position: sticky;
  top: 100px;
  z-index: 10;
  border-radius: 10px;
}

.navitem12 {
  margin-left: 55px;
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  color: #fffbde;
}

h3 {
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: #596758;
  padding-top: 5px;
}

.scrollrect {
  padding: 10px 30px 10px 30px;
  width: 80px;
  height: 32px;
  background: #596758;
  border-radius: 10px;
  display: inline;
  margin-left: 45px;
}

.scrollitem {
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: #fffbde;
}

#myBtn {
  display: none; /*Hidden by default*/
  position: fixed; /* Fixed/sticky position */
  bottom: 50px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #b06464; /* Set a background color */
  color: #fffbde; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 8px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 14px; /* Increase font size */
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
  font-weight: 200;
}

#myBtn:hover {
  background-color: #aabb77; /* Add a dark-grey background on hover */
}

img {
  box-sizing: border-box;
  width: 100px;
  height: 150px;
  background: url(fiksi.jpg);
  border: 3px solid #596758;
  border-radius: 10px;
  margin-top: 10px;
}

.levelbar {
  padding: 5px 5px 5px 5px;
  width: 80px;
  height: 32px;
  background: #596758;
  border-radius: 10px;
  text-align: center;
  display: flex;      /* Center text inside the bar */
  align-items: center;
  justify-content: center;
}

.levelbg1-top {
  width: auto;
  height: 40px;
  background: #81a3cb;
  border-radius: 10px;
  margin-bottom: 5px;
}

.levelbg1-bottom {
  width: auto;
  height: 230px;
  background: #a3c2e6;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create 3 equal-width columns */
  justify-items: center;                /* Center items horizontally in each cell */
  gap: 5px;     
}

.levelbg2-top {
  width: auto;
  height: 40px;
  background: #cdb6c7;
  border-radius: 10px;
  margin-bottom: 5px;
}

.levelbg2-bottom {
  width: auto;
  height: 230px;
  background: #e1ccd1;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create 3 equal-width columns */
  justify-items: center;                /* Center items horizontally in each cell */
  gap: 5px;  
}

.levelbg3-top {
  width: auto;
  height: 40px;
  background: #8da282;
  border-radius: 10px;
  margin-bottom: 5px;
}

.levelbg3-bottom {
  width: auto;
  height: 230px;
  background: #cbd7a9;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create 3 equal-width columns */
  justify-items: center;                /* Center items horizontally in each cell */
  gap: 5px;  
}

.leveltext {
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;

  color: #fffbde;
}

.levelitem {
  background: #596758;
  padding: 10px;
  width: 50%;
  margin: 5px 0px 5px;
  border-radius: 10px;
  display: grid;
  margin-left: 80px;
  margin-right: 3px;
  margin-bottom: 20px;

  text-align: center;
  color: #fffbde;
  text-decoration: none;
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.paragraph {
  color: #596758;
  text-align: justify;
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  padding-left: 30px;
  padding-right: 30px;
}

/* Default button style */
.button {
  width: 60px;
  height: 32px;
  background: #596758;
  border-radius: 10px;
  border-style: none;
  text-align: center;
  color: #fffbde;
  font-family: "Cormorant Garamond", serif;
  font-size: 16px;
  cursor: not-allowed; /* Initially disabled */
  transition: background-color 0.3s;
}

/* Enable cursor when time > 60s */
.button.enabled {
  cursor: pointer;
}

/* Hover effect after 60 seconds */
.button.enabled:hover,
.button.hovered {
  background-color: #4CAF50 !important; /* Green */
}


.progress {
  color: #596758;
  text-align: justify;
  margin: 50px 100px 50px 100px;
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.progress-container {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.level-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.outer {
  width: 160px;
  height: 160px;
  position: absolute;
  z-index: 1;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.2),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.inner {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
  justify-content: center;
  align-items: center;
}

circle {
  fill: none;
  stroke-width: 20px;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  transform: rotate(-90deg);
  transform-origin: center;
}

.recap {
  text-align: justify;
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
  font-size: 12px;
  font-weight: 200;
  color: #555;
}

@keyframes anim {
  100% {
    stroke-dashoffset: 157.5;
  }
}

svg {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.table-top-title {
  width: auto;
  height: 40px;
  margin-top: 20px;
  padding-top: 10px;
  background: #81a3cb;
  border-radius: 10px;
}
.table-top {
  width: 130px;
  height: 150px;
  background-color: #bddcff;
  border-radius: 10px;
}

.inner-table-top {
  width: 130px;
  height: 150px;
  padding-left: 10px;
  border-radius: 10px;
  background: #dae7f6;
}

.table-center-title {
  width: auto;
  height: 40px;
  margin-top: 20px;
  padding-top: 10px;
  background: #cdb6c7;
  border-radius: 10px;
}
.table-center {
  width: auto;
  height: 150px;
  margin: auto;
  padding-right: 10px;
  background-color: #e1ccd1;
  border-radius: 10px;
}

.inner-table-center {
  width: 130px;
  height: 150px;
  padding-left: 10px;
  background: #f7e7eb;
  border-radius: 10px;
}

.table-bottom-title {
  width: auto;
  height: 40px;
  margin-top: 20px;
  padding-top: 10px;
  background: #8DA282;
  border-radius: 10px;
}
.table-bottom {
  width: auto;
  height: 150px;
  margin: auto;
  padding-right: 10px;
  background-color: #cbd7a9;
  border-radius: 10px;
}

.inner-table-bottom {
  width: 130px;
  height: 150px;
  padding-left: 10px;
  background: #DFE9C3;
  border-radius: 10px;
}

td {
  padding-bottom: 150px;
  padding-left: 20px;
  padding-right: 40px;
}

.hr {
  color: #596758;
  padding-top: 100px;
  width: 300px;
  margin: auto;
}

footer {
  width: 100%;
  background: rgba(240, 234, 195, 0.3);
  margin-top: 80px;
  display: flex;
  justify-content: space-between; /* Distribute items evenly */
  align-items: center; /* Center all items vertically */
  padding: 5px 20px;
  box-sizing: border-box;
}

.logo-footer {
  background: none;
  border: none;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  margin-top: 10px;
}

.text-footer,
.design-by {
  color: #596758;
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-size: 10px;
  display: flex; /* Ensure content inside is flex */
  align-items: center; /* Center text vertically */
  text-align: center;
  line-height: normal;
  gap: 30px;
}
